<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - OpenHRMS Dashboard</title>
    <link rel="stylesheet" href="./../build/css/style.min.css" />
  </head>
  <body>
    <div id="main">
      <main class="oh-auth">
        <div class="oh-auth-card">
          <h1 class="oh-onboarding-card__title oh-onboarding-card__title--h2 text-center my-3">
            Sign In
          </h1>
          <p class="text-muted text-center">Please login to access the dashboard.</p>

          <form method="post" action="{% url 'login' %}" class="oh-form-group">
            {% csrf_token %}
            {% if form.errors %}
              <p style="color: red;">{{ form.errors }}</p>
            {% endif %}

            <div class="oh-input-group">
              <label class="oh-label" for="id_username">E-mail</label>
              <input
                type="text"
                name="username"
                class="oh-input w-100"
                id="id_username"
                placeholder="e.g. jane.doe@acme.com"
                required
              />
            </div>

            <div class="oh-input-group">
              <label class="oh-label" for="id_password">Password</label>
              <div class="oh-password-input-container">
                <input
                  type="password"
                  name="password"
                  class="oh-input oh-input--password w-100"
                  id="id_password"
                  placeholder="Use alphanumeric characters"
                  required
                />
              </div>
            </div>

            <button
              type="submit"
              class="oh-btn oh-onboarding-card__button mt-4 oh-btn--secondary oh-btn--shadow w-100 mb-4"
            >
              <ion-icon class="me-2" name="lock-closed-outline"></ion-icon>
              Secure Sign-in
            </button>

            <small class="text-center">
              <a href="#" class="oh-link oh-link--secondary justify-content-center">Forgot password?</a>
            </small>
          </form>
        </div>
      </main>
    </div>

    <script src="./../build/js/web.frontend.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>
