<!-- invoicing/templates/invoicing/client_form.html -->
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
<div class="oh-general__tab-target oh-profile-section" id="client-form">
    <div class="oh-profile-section__card">
        <h3 class="oh-title">{% trans "Client Information" %}</h3>
        
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-12">{{ form.non_field_errors }}</div>
                
                {% for field in form.visible_fields %}
                <div class="col-12 col-md-6" id="id_{{ field.name }}_parent_div">
                    <label class="oh-label {% if field.field.required %}required-star{% endif %}"
                           for="id_{{ field.name }}"
                           title="{{ field.help_text|safe }}">
                        {% trans field.label %}
                    </label>
                    
                    {% if field.field.widget.input_type == "checkbox" %}
                    <div class="oh-switch" style="width: 30px">
                        {{ field|add_class:"oh-switch__checkbox" }}
                    </div>
                    {% else %}
                    {{ field|add_class:"form-control" }}
                    {% endif %}
                    {{ field.errors }}
                </div>
                {% endfor %}
            </div>
            
            <div class="oh-modal__dialog-footer p-0 mt-3">
                <button type="submit" class="oh-btn oh-btn--secondary oh-btn--shadow">
                    {% trans "Save Client" %}
                </button>
                <a href="{% url 'invoicing:client_list' %}" class="oh-btn oh-btn--light">
                    {% trans "Cancel" %}
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
